<link rel="stylesheet" href="/api/public/css/error.css">
<div class="error404">
    <h1>Error 404</h1>
    <h3>El recurso proporcionado no existe en este servidor</h3>
    <img src="/api/public/images/error.404.jpg.avif" alt="Imagen representativa del error 404">
</div>